<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones Personalizadas</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Recomendaciones Personalizadas</h1>
    </header>
    <div class="container">
        <h1>Consulta de Cliente</h1>
        <div class="input-group">
            <label for="customer_id">ID del Cliente:</label>
            <input type="text" id="customer_id" placeholder="Ingrese el ID del cliente">
        </div>
        <button onclick="getRecommendations()">Obtener Recomendaciones</button>
        <div id="results" class="results"></div>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
